.link a{
    font-family: "Satisfy", sans-serif;
    text-decoration: none;
    color: #255E6B!important;
}
.link a:hover{
  color: #c39c62!important;
}
section {
  overflow: hidden;
  position: relative;
}
.cardtitle {
  font-family: "Satisfy", sans-serif;
  color:#255E6B;
}
.cardlink {
  text-decoration: none;
  line-height:200%;
  font-family: "Satisfy", sans-serif;
}
.card-body p{
  color: #575353;
}
.category {
  padding: 0.3rem 1rem;
  text-decoration: none;
  color: #fff;
  background: #c39c62;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}
.meta{
  text-transform: uppercase;
  text-decoration: none;
  color: #575353;
  font-size: 0.75rem;
}
.blogtitle {
  font-family: "Satisfy", sans-serif;
  text-decoration: none;
  color: #255E6B;
}
.blogtitle:hover{
  color:#255E6B;
}
.blogtext{
  color: #575353;
}
.read-more-btn span {
  display: inline-block;
  margin-right: 0.5rem;
  font-family: "Satisfy", sans-serif;
  color:#c39c62;
}
.read-more-btn i {
  color:#c39c62;
  margin-left: -0.5rem;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  opacity: 0;
  transition: all 0.2s;
}
.read-more-btn:hover i {
  opacity: 1;
  margin-left: 0;
}
.button{
  background-color:#549cb9;
  font-family: "Satisfy", sans-serif;
  color:white;
}
.button:hover{
  color:white;
  background-color:#c39c62;
}
.page-item.active .page-link {
  color: #fff;
  background-color: #549cb9;
  border-color: #549cb9;
}
.page-link {
  padding: 0.5rem 0.75rem;
  line-height:1.25;
  color: #6c757d;
  background-color: #fff;
  border: 1px solid #dee2e6;
  margin: 3px;
  transition: all 0.3s;
  font-size: 1.2rem;
  min-width: 2.5rem;
  text-align: center;
}
.page-link:hover {
  z-index: 2;
  color: white;
  text-decoration: none;
  background-color: #c39c62;
  border-color: #c39c62;
}

blockquote {
  background-color:#c39c62b9;
  font-family: "Satisfy", sans-serif;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}
cite{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1rem;
}
form {
  color:#575353;
}
footer{
    background-color: #255E6B;
}
footer a {
    color:#c39c62;
  }
footer a:hover{
    color: #eededa;
}

.circle{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.name{
  color:#575353;
  font-family: "Satisfy", sans-serif;
}
.date{
  color: #c39c62;
}
.reply a{
  text-decoration: none;
  color: #255E6B!important;
}
.reply a:hover{
color: #c39c62!important;
}

.formsignin {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  margin: auto;
}

.admin-title{
  color:#255E6B;
}

.button2{
  background-color:#549cb9;
  color:white;
}
.button2:hover{
  background-color:#44849e;
  color:white;
}
.tabled {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebarcolor{
  background-color: #255E6B;
}

.sidebarcolor a{
  color:white;
}
.sidebarcolor a:hover{
  color:#c39c62;
}
.navcolor{
  background-color: rgba(255, 255, 255, 0.514);
}
.sidebardropdown a{
  color:#255E6B !important;
  border:0px;
}
.link2 a{
  color:#2f2b2b;
  text-decoration: none;
}
.link2 a:hover{
  color:#575353;
}

.error {
  color: red;
  font-weight: 400;
  display: block;
  padding: 6px 0;
  font-size: 14px;}